<!DOCTYPE html>
<html>
  <head>
    <title>Association</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
      <div class="header">
        <%= link_to 'Supplier', suppliers_path, {:style => 'color: black'}%>  |  
        <%= link_to 'Patient', new_patient_path, {:style => 'color: black'}%>   | 
        <%= link_to 'Pysician', new_physician_path, {:style => 'color: black'}%>  | 
        <%= link_to 'Author', authors_path, {:style => 'color: black'}%>
      </div>
      <%= yield %>
      <div class="footer">
        <%= link_to 'Supplier', suppliers_path, {:style => 'color: black'}%>  |  
        <%= link_to 'Patient', new_patient_path, {:style => 'color: black'}%>   | 
        <%= link_to 'Pysician', new_physician_path, {:style => 'color: black'}%>  | 
        <%= link_to 'Author', authors_path, {:style => 'color: black'}%>
      </div>
    </body>
  
</html>
